.container {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 5em;
}

.equipmentContainer {
  display: flex;
  flex-wrap: wrap;
}

.equipment {
  display: flex;
  flex-grow: 1;
  width: 33%;
  font-size: 18px;
  column-gap: 1em;
}

.equipment > p {
  width: 50%;
}
