.container {
  display: flex;
  flex-direction: column;
  height: 80vh;

  align-items: center;
  justify-content: center;

  row-gap: 2em;
}

.header {
  display: flex;
  flex-direction: column;

  text-align: center;
  color: var(--primary);
}

.header * {
  margin: 0;
}

.title {
  font-size: 64px;
  font-weight: 300;
}

.subtitle {
  font-size: 28px;
  font-weight: 500;
}

.tagline {
  text-transform: uppercase;
  letter-spacing: 1px;
}
